@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  /* padding: 15px; */
}

.col-1 {
  width: 4.33%;
}

.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.sidebar {
  height: 100vh;
  padding: 5px;
  background: rgb(255, 255, 255);
  /* sidebar color main  */
}
.sidebar .toggle {
  margin-top: 5px;
  margin-left: 15.5%;

  top: 80px;
  position: absolute;
  transform: translateY(-50%) rotate(0deg);
  height: 25px;
  width: 25px;
  color: "#FFF";
  background-color: #695cfe;
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(180deg);
  margin-left: 3%;
}

.menu2close {
  padding-left: 4%;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: -12px;
}
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.sidebar header .image,
.sidebar header .text {
  margin-top: 30px;
}
.sidebar .icon {
  border-radius: 6px;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar .text {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}

/* sub nav */
.subnav-link {
  position: relative;
  left: -100px;
  top: 50px;
  width: 100%;
  background-color: #9933cc;
}
/* =========================== */
.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
.sidebar .menu {
  margin-top: 25px;
  margin-left: 10px;
}
/* .sidebar li.search-box {
  border-radius: 6px;
  cursor: pointer;
  transition: var(--tran-05);
  border-radius: 10px;
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #e5ecee;
  color: var(--text-color);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: var(--tran-05);
  margin-left: -5px;
  margin-right: 10px;
} */
.sidebar li a {
  list-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 10px;
}
.headers {
  background-color: #bce8ee;
  color: #ffffff;
  padding: 15px;
  height: 80px;
  border-radius: 0 0 0 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.headers .btns-grp {
  display: flex;
  /* justify-content: space-between; */
  padding: 5px;
}
.btns-grp .nbtn {
  background: rgb(118, 147, 156);
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  margin-top: -15px;
}
.btns-grp .sbtn {
  background: rgb(118, 147, 156);
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: -15px;
}
.bars-btn {
  display: none;
}

@media screen and (max-width: 480px) {
  /* [class*="col-"] {
    width: 100%;
  } */
  .sidebar {
    display: none;
  }
  .bars-btn {
    display: block;
    margin: 10px 0 0 20px;
    font-size: 20px;
  }
  .btns-grp .nbtn,
  .btns-grp .sbtn {
    /* background: red; */
    width: 16.66%;
  }
}

.form-container {
  position: fixed;
  top: 0;
  right: -66.66%;
  /* width: 83.33%; */
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.5s ease-in-out;
}

.form-open {
  right: 0;
}

.form-container .header {
  display: flex;
  flex: 0;
  align-items: center;
  padding: 16px 24px;

  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}
.form-container .header_title {
  display: flex;
  flex: 1;
  align-items: center;
}
.header_title button {
  display: inline-block;
  margin-inline-end: 12px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-rendering: auto;
}
.header_title .title {
  /* border: 1px solid black; */
  margin-top: 15px;
}
.form-container .c-contact {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  height: auto;
  padding: 10px;
}
.form-container .company-contact {
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 10px;
}

.company-contact .name-container {
  /* border: 1px solid blueviolet; */
  height: 90px;
}
.name-container label {
  margin: 10px;
  font-size: 16px;
}
.name-container input[type="text"],
input[type="email"] {
  height: 48px;
  border-radius: 15px;
  border: none;
  margin-top: 5px;
  padding: 15px;
  font-size: 15px;
  background-color: #eef1f4;
}

.company-contact .submit-btn {
  /* margin-left: 30%; */
  padding: 8px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #007bff;
}
